#Mail {
	border-top:1px dashed #777;
	margin:10px 0;
}
#Mail .talk {
	padding:5px 0;
	margin:5px 0;
	border-bottom:1px dashed #777;
}
#Mail .talk p {
	margin:5px 0;
	padding:0 5px;
}
#Mail .talk .info {
	background:#eee;
	font-size:11px;
	padding:3px 5px;
}
