#ProfileHead {width:100%; border-bottom:2px solid #ccc; margin:0 0 20px 0;}
#ProfileHead td {vertical-align:top; padding:2px;}
#ProfileHead td.u img {border:1px solid black;}
#ProfileHead td.m {width:70%; padding-left:10px;}
#ProfileHead td.k {width:30%; white-space:nowrap; text-align:right; vertical-align:bottom; padding:0 15px 2px;}
#ProfileHead td.k big {
	font-size:30px;
	font-weight:bold;
	padding:0 5px;
	cursor:pointer;
}
#ProfileHead td.k span {
	font-size:20px;
	font-weight:bold;
}
#ProfileHead td.k span a:hover {
	text-decoration:none;
}
#ProfileHead td.k.inactive a {
	color:#fff;
	border:none;
}
#ProfileHead td.r {text-align:right; white-space:nowrap;}

table.rating {
	border-spacing: 0px;
	border-collapse: collapse;
}
table.rating td {padding:5px; border-bottom:1px solid #777;}
table.rating td.r {background:#eee; font-weight:bold;}
table.rating td.neg {color:red;}

/* Таблица с рейтингом юзера */
.UR {border-collapse:collapse; border-spacing:0;}
.UR td, .UR th {border-bottom:1px solid #ccc; padding:3px 6px !important;}
.UR td.d {background:#eee;}
.UR th {background:#eee;}
